#editor {
  border-bottom: 1px solid #e0e0e0;
  border-right: 1px solid #e0e0e0;
  border-left: 1px solid #e0e0e0;
}

table {
  border-collapse: collapse;
}

table td, tr, th {
  padding: 8px;
}

table tr:nth-child(even) {
  background-color: #f2f2f2; 
}
