#editor {
  border-bottom: 1px solid #e0e0e0;
  border-right: 1px solid #e0e0e0;
  border-left: 1px solid #e0e0e0;
}

main {
  max-width: 37em;
  margin: 0 auto;
}

.uk-button {
  margin: 0.5em 0;
  margin-right: 0.5em;
}
