{% from "admin/_input.html" import input %}

{% extends "base.html" %}

{% block content %}

<h1>edit posts</h1>

<p>
{{ post_id }}
</p>

<!-- edit post form 
title
slug
pub-date
draft (checkbox)
category
tags (comma separated)
-->

<form name="edit" action="" method="post" accept-charset="utf-8">

  {{ form.hidden_tag() }}


  <fieldset class="uk-fieldset uk-flex">

    {{ input(form.title, size=24, placeholder="A New Post") }} 
    {{ input(form.slug, size=16, placeholder="a-new-post") }} 

  </fieldset>

  <fieldset class="uk-fieldset uk-flex">
    
    {{ input(form.pub_date, size=8, placeholder="12/01/17") }} 
    {{ input(form.category, size=16) }} 
    {{ input(form.tags, size=16, placeholder="tag1, tag2, tag3") }} 

  </fieldset>

  {{ form.draft.label }}
  {{ form.draft(class="uk-checkbox") }}
  {% for error in form.draft.errors %}
    <div style="color: red;"> {{ error }} </div>
  {% endfor %}

  <!-- UPLOAD MEDIA -->
  <!--
  media stored in filesystem (limit size by 1MB)
  path, MIME, post-id stored in media DB table
  -->
  <div class="js-upload uk-placeholder uk-text-center">
      <span uk-icon="icon: cloud-upload"></span>
      <span class="uk-text-middle">Attach photos by dropping them here or</span>
      <div uk-form-custom>
          <input type="file" multiple>
          <span class="uk-link">selecting one</span>
      </div>
  </div>

  <progress id="js-progressbar" class="uk-progress" value="0" max="100" hidden></progress>

  <!-- PREVIEW button -->
  <!-- save post and open current post in new tab -->
  <div class="uk-flex">
  <button class="uk-button uk-button-secondary uk-button-small" onclick='alert("hi"); return false;'>Preview</button>

  {{ form.submit(class="uk-button uk-button-primary") }}
  </div>

  {{ form.content.label(style="display:none") }}
  <div id="editor">
  {{ form.content(id="editor", cols=50, rows=10, placeholder='Write your next awesome post...' ) }}
  </div>
  {% for error in form.content.errors %}
    <div style="color: red;"> {{ error }} </div>
  {% endfor %}



</form>




{% endblock %}

{% block javascript %}
<link rel="stylesheet" href="//cdn.jsdelivr.net/editor/0.1.0/editor.css">
<script src="//cdn.jsdelivr.net/editor/0.1.0/editor.js"></script>
<script src="//cdn.jsdelivr.net/editor/0.1.0/marked.js"></script>
<script>
var editor = new Editor();
editor.render();
</script>
<script src="/static/javascript/drop_upload.js"></script>

{% endblock %}
