{% from "admin/_input.html" import input, btn %}

{% extends "base.html" %}

{% block content %}

<h1>edit posts</h1>

<p>
{{ post_id }}
</p>


<form name="edit" action="" method="post" accept-charset="utf-8">
{{ form.hidden_tag() }}


  <div class="flex">

    {{ input(form.title, size=24, placeholder="A New Post") }} 
    {{ input(form.slug, size=16, placeholder="a-new-post") }} 

  </div>

  <div class="flex">
    
    {{ input(form.pub_date, size=8, placeholder="12/01/17") }} 
    {{ input(form.category, size=16) }} 
    {{ input(form.tags, size=16, placeholder="tag1, tag2, tag3") }} 

  </div>

  {{ form.draft.label }}
  {{ form.draft(class="") }}

  <!-- PREVIEW button -->
  <!-- save post and open current post in new tab -->
  <div class="flex">
  <button class="{{ btn }}" onclick='alert("hi"); return false;'>Preview</button>
  {{ form.submit(class=btn) }}
  </div>

  {{ form.content.label(style="display:none") }}
  {{ form.content(class="db mv2 pa2 w-100 border-box ba b--black-20 hover-black", id="editor", cols=50, rows=20, placeholder='Write your next awesome post...' ) }}
  {% for error in form.content.errors %}
    <div class="red f6"> {{ error }} </div>
  {% endfor %}

</form>

{% endblock %}

{% block javascript %}
<!--
<link rel="stylesheet" href="//cdn.jsdelivr.net/editor/0.1.0/editor.css">
<script src="//cdn.jsdelivr.net/editor/0.1.0/editor.js"></script>
<script src="//cdn.jsdelivr.net/editor/0.1.0/marked.js"></script>
<script>
var editor = new Editor();
editor.render();
</script>
-->
{% endblock %}
